*.log

__pycache__/
*.py[cod]
*$py.class
db.sqlite3

.env
.venv
.venv*
venv
activate

!README.md
!test.pptx

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### VS Code ###
.vscode/